<div class="instagram-feed">
  <% InstagramFeed.new.media.first(10).each do |media| %>
    <div class="instagram-container">
      <%= image_tag(media.url, class: "instagram-image") %>
    </div>
  <% end %>
</div>
<nav class="footer">
  <%= link_to(image_tag("logo.png", class: "logo"), root_path) %>
  <%= link_to(image_tag("instagram.png", class: "instagram-icon footer-icon"), "https://instagram.com/lifemeetscristina") %>
  <%= link_to(image_tag("twitter.png", class: "twitter-icon footer-icon"), "https://twitter.com/lifemeetscc") %>
  <%= link_to(image_tag("snapchat.png", class: "snapchat-icon footer-icon"), "https://www.snapchat.com/add/cristinita96") %>
</nav>
