<nav class="header">
  <%= link_to("Featured", home_index_path, class: current_class?(home_index_path)) %>
  <%= link_to("About Me", about_index_path, class: current_class?(about_index_path)) %>
  <%= link_to(image_tag("logo.png", class: "logo"), home_index_path) %>
  <%= link_to("Blogs", posts_path, class: current_class?(posts_path)) %>
  <%= link_to("Subscribe", "#", id: "subscribe-button") %>
</nav>

<div id="subscribe-modal">
  <div class="content-container">
    <div class="content">
      <p>
        Let's be friends! Subscribe to LifeMeetsCristina.
      </p>

      <%= form_tag(subscribe_index_path) do %>
        <%= text_field_tag(:email, nil, placeholder: "Email", class: "rounded-input") %>
        <%= submit_tag("Subscribe Me!", class: "subscribe-submit") %>
      <% end %>
    </div>
  </div>
</div>

<!-- <script type="text/javascript">
  var button = document.getElementById('subscribe-button');

  button.addEventListener("click", function(event) {
    console.log("yay!");
    event.preventDefault();

    var modal = document.getElementById('subscribe-modal');
    modal.style.display = 'block';

    modal.addEventListener("click", function(event) {
      modal.style.display = 'none';
    });
  });
</script> -->

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script>
function showMailingPopUp() {
  event.preventDefault();
  require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"54bea33e0e9a0a136da17b0e9","lid":"b0048eb6db"}) })
  document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
  document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
};

document.getElementById("subscribe-button").onclick = function() {showMailingPopUp()};
</script>
