<div class="full-width-blog-header home-image">
  <h1 class="blog-title no-subtext">
    <%= image_tag("large-logo.png", class: "large-logo") %>
  </h1>
</div>

<div class="font-regular blog-content">
  <div class="blog-post">
    <div class="text-container">
      <% @posts.each do |post| %>
        <%= image_tag(post.image) %>
        <span class="date"><%= post.published_at_string %></span>
        <h2 class="blog-title"><%= post.title %></h2>
        <p class="description"><%= truncated_description(post) %></p>
      <% end %>
    </div>
  </div>

</div>
