<!DOCTYPE html>
<html>
  <head>
    <title><%= if content_for?(:meta_title) then yield(:meta_title) + ' | ' end %>LifeMeetsCristina</title>
    <%= csrf_meta_tags %>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@lifemeetscc" />
    <meta name="twitter:creator" content="@lifemeetscc" />
    <meta name="og:description" content="<%= yield_meta_tag(:description, '') %>" />
    <meta name="og:image" content="<%= yield_meta_tag(:image, '') %>" />
    <meta name="og:title" content="<%= yield_meta_tag(:title, '') %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "/shared/navigation" %>
    <%= yield %>
    <%= render "/shared/footer" %>
  </body>
</html>
